body {
    background-color: lightgrey;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 60px;
    text-align: center;
}

#start {
    padding: 15px;
    font-size: 18px;
    margin: 0 auto;
}

#subwrapper {
    width: 60%;
    margin: 0 auto;
}

#end {
    padding: 15px;
    font-size: 18px;
    margin: 0 auto;
}